body {
  background: #ffcd9e;
  font-family: "Inter", sans-serif;
  margin: 0%;
}

.main_Content {
  display: flex;
  justify-content: space-around;
}

.main_Content {
  padding-left: 6rem;
  padding-top: 3rem;
}

.main_Heading {
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  padding-top: 2rem;
  color: #282828;
}

.subHeading {
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
  color: #484848;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.paraLine {
  color: #282828;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.email {
  font-size: 1.2rem;
  height: 3rem;
  width: 20rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #888888;
  border: 0.2rem solid #000000;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.registerButton {
  font-size: 1.2rem;
  height: 3rem;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #282828;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  padding-top: 2rem;
  line-height: 3rem;
  background: #282828;
  height: 50%;
  color: #ffffff;
}

.details {
  list-style-type: none;
}

.links {
  list-style-type: none;
  text-align: right;
}

.emailId {
  padding-top: 2.9rem;
}

